#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        /* ==================================================
         * Layer 0 – BASE
         * ================================================== */
        base {
            bindings = <
                /* Left half */                       /* Right half */
                &studio_unlock &kp Q &kp W &kp E &kp R &kp T     &kp Y &kp U &kp I &kp O &kp P &kp BSPC
                &kp ESC &kp A &kp S &kp D &kp F &kp G     &kp H &kp J &kp K &kp L &kp SEMI &kp BSPC
                &kp ESC &kp Z &kp X &kp C &kp V &mo 1    &mo 2 &kp N &kp M &kp COMMA &kp DOT &kp BSPC
            >;
        };

        /* ==================================================
         * Layer 1 – LOWER
         * ================================================== */
        lower {
            bindings = <
                &kp ESC &kp 1 &kp 2 &kp 3 &kp 4 &kp 5     &kp 6 &kp 7 &kp 8 &kp 9 &kp 0 &kp BSPC
                &kp ESC &kp TAB &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT  &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp ENTER &kp BSPC
                &kp ESC &none &none &none &none &mo 0    &none &none &none &none &none &kp BSPC
            >;
        };

        /* ==================================================
         * Layer 2 – RAISE
         * ================================================== */
        raise {
            bindings = <
                &kp ESC &kp F1 &kp F2 &kp F3 &kp F4 &kp F5     &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp BSPC
                &kp ESC &kp HOME &kp PGDN &kp PGUP &kp END &kp INS   &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp ENTER &kp BSPC
                &kp ESC &none &none &none &none &mo 0          &none &none &none &none &none &kp BSPC
            >;
        };
    };
};
